DATABASE_URL=

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=

JWT_SECRET=

PORT=3001

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

FASTAPI_HOST=http://localhost:8000
NODEJS_HOST=http://172.27.64.1:3001